-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC3...
[THIS IS A DUMMY/EXAMPLE PRIVATE KEY FOR TESTING PURPOSES ONLY]
[To use the project, copy this file, rename it to 'private-key.pem' and paste your actual key here]
-----END PRIVATE KEY-----